﻿@model IEnumerable<Hotel.Models.Habitacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.HabitacionId }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.HabitacionId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.HabitacionId })
        </td>
    </tr>
}

</table>
