﻿
@{
    ViewBag.Title = "Login";
}

<fieldset>
    <legend> Bienvenido </legend>

    @if (Session["UserName"] != null)
    { <text>
        Usuario @Session["UserName"].ToString()  si desea salir presione</text>
    }

    @if (Session["UserName"].ToString() != null)
    {
        @Html.ActionLink("Logout", "Logout", "Home")
    }
</fieldset>
