﻿@model Hotel.Models.Rol

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle del Rol</h2>

<div>
    <h4>Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.RolId }) |
    @Html.ActionLink("Regresar", "Index")
</p>
