﻿@model IEnumerable<Hotel.Models.Rol>

@{
    ViewBag.Title = "Rol";
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Nuevo Rol", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.RolId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.RolId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.RolId })
        </td>
    </tr>
}

</table>
