﻿@model IEnumerable<Hotel.Models.UserProfile>

@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuario</h2>

<p>
    @Html.ActionLink("Nuevo Usuario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rol.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rol.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.UserId })
        </td>
    </tr>
}

</table>
